section.box-top {
    padding-top: 25px;
}
	.box-top .box-support {
	    display: table;
	    margin: auto;
        padding-left: 19px;
	}
		.box-top .box-support img.img-logo {
		    height: 110px;
		    vertical-align: bottom;
		}
		.box-top .box-support img {
		    height: 70px;
		    padding: 15px;
		    object-fit: contain;
		}
		.box-top .box-support img:nth-child(1) ,
		.box-top .box-support img:nth-child(2) ,
		.box-top .box-support img:nth-child(3) {
		    height: 88px;
		}
		
	.box-top .img-text-about {
	    width: 327px;
	    margin: auto;
	    display: table;
	    margin-top: 10px;
	    max-width: 100%;
	}

section.box-detail {
    overflow: hidden;
    word-break: break-word;
}		
	.box-detail .box-line {
	    padding: 25px;
	    margin: 35px 0px;
	}
	.box-detail .box-line::before {
	    content: "";
	    border-top: 1px solid #d9d9d9;
	    position: absolute;
	    bottom: 8px;
	    right: -20px;
	    width: 33%;
	}
	.box-detail .box-line::after {
	    content: "";
	    border-left: 1px solid #d9d9d9;
	    position: absolute;
	    bottom: -12px;
	    right: 0px;
	    height: 300px;
	}
	.box-detail .box-line2 {
	    margin-bottom: -50px;
	}
	.box-detail .box-line2::before {
	    content: "";
	    border-top: 1px solid #d9d9d9;
	    position: absolute;
	    top: 0px;
	    left: -20px;
	    width: 30%;
	}
	.box-detail .box-line2::after {
	    content: "";
	    border-left: 1px solid #d9d9d9;
	    position: absolute;
	    top: -20px;
	    left: 0px;
	    height: 300px;
	}
					
	.box-detail a.btn2 {
	    background: #03c8ce;
	    border-radius: 25px;
	    color: #fff !important;
	    padding: 6px 20px;
	    display: inline-block;
        margin-bottom: 10px;
	}
	.box-detail .img {
	    margin: 25px 0px;
	}
	.box-detail .img[data-type="video"]::before {
		content: "";
	    width: 50px;
	    height: 50px;
	    background: url(../../images/Play-button.png) no-repeat center center;
	    background-size: contain;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 1;
	}
	.box-detail .box-date-list {
	    border-right: 1px solid #f1f1f1;
	    padding: 0px 20px;
        margin: 15px 0px;
	}
	.box-detail .box-date-list:last-child {
		border: 0px;
	}
		.box-detail .box-date-list img {
			height: 70px;
		    padding-bottom: 20px;
		    box-sizing: content-box;
		}
		.box-detail .box-date-list a {
		    color: #848484;
		    font-size: 0.9em;
		}
		
	.box-detail h6 {
	    margin-bottom: 0px;
	}
	.box-detail p {
	    margin-top: 5px;
	}
	.box-detail .Tcolor {
	    color: #05c8ce;
	    font-size: 0.8em;
        margin-bottom: 9px;
	}
	.BG-line3 {
	    background: url(../../images/box-color01.png) no-repeat right center;
	}

    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {
		.box-detail .box-line {
		    padding: 5px;
		    padding-bottom: 22px;
		}
		.box-detail .box-line2 {
		    margin-bottom: 0px;
		}
		.BG-line3 {
			background: none;
		}
    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			.box-detail .box-date-list {
			    border-right: 1px solid #d9d9d9 !important;
			    margin: 0px;
			    padding: 20px;
			}
			.box-detail .box-date-list:nth-child(even) {
				border-right: 0px !important;
			}
			.box-top .box-support img.img-logo {
			    height: 80px;
			}
       }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {
		.box-detail .box-date-list {
			border: 0px !important;
		}
		.box-top .box-support {
		    padding-top: 90px;
		    display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    justify-content: center;
		    padding-left: 0px;
		}
		.box-top .box-support img.img-logo {
		    position: absolute;
		    left: 50%;
		    top: 0px;
		    transform: translateX(-50%);
	        height: auto;
		    width: 180px;
		}
		.box-detail .box-date-list {
			border: 0px !important;
			border-top: 1px solid #d9d9d9 !important;
			padding-top: 30px;
		    margin-top: 0px;
		}
		.box-top .box-support img {
		    padding: 10px;
		    height: 50px;
		}
		.box-top .box-support img:nth-child(1) ,
		.box-top .box-support img:nth-child(2) ,
		.box-top .box-support img:nth-child(3) {
		    height: 68px;
		}

       /* แนวตั้ง */
        @media only screen and (orientation:portrait){

        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }
