section.box-Type {
	padding: 40px 0px 20px 0px;
}
	.row-Type.row-Type-mobile .container {
	    display: flex;
	    flex-flow: wrap;
	}
		.row-Type.row-Type-mobile .item {
		    width: calc(100%/2);
		    padding: 6px;
		    position: relative;
		}
			.row-Type.row-Type-mobile .item .text {
				opacity: 1;
			    padding: 6px;
			}
		
	.box-Type .row-Type {
		position: relative;
	    overflow: hidden;
	}
		.box-Type .owl-item .item {
	        padding: 0px 10px;
		    transition: .5s;
		}
		.box-Type .owl-item:not(.active) .item {
		    pointer-events: none;
		    opacity: 0.5;
            filter: contrast(0.5);
		}
			.box-Type .item .text {
			    color: #fff;
			    position: absolute;
			    left: 0px;
			    top: 0px;
			    width: 100%;
			    height: 100%;
			    z-index: 1;
			    text-align: center;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    background: rgb(0 0 0 / 0.1);
			    background-clip: content-box;
			    padding: 0px 10px;
			    opacity: 0;
			    transition: .5s;
			}
			.box-Type .owl-item.active .item .text {
				opacity: 1;
			}
			.box-Type .item:hover .text {
			    background: rgb(0 0 0 / 60%);
			    background-clip: content-box;
			}
			
		.box-Type .owl-carousel .owl-stage-outer {
		    overflow: initial;
		}
		
    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {

    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){

        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){

        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){
			.row-Type.row-Type-mobile .item {
			    width: calc(100%/3);
			}
        }
    }
