section.box-Register {
    color: #e3e4f2;
}
	.box-Register .BG-Register {
		padding: 30px 0px;
	    background: #444aa6 url(../../images/BG-Register.png) no-repeat  center center fixed;
	}
	.box-Register .box-text {
		padding-top: 45px;
	}
		.box-Register .box-text h3 {
			color: #35bdc5;
		    text-shadow: 6px 4px 1px #244580;
		    position: relative;
	        z-index: 1;
	        font-size: 2.5em;
		}
			.box-Register .box-text h3::before {
			    content: "";
			    background-color: rgb(255 255 255 / 5%);
			    padding: 18px;
			    display: inline-block;
			    position: absolute;
			    left: -18px;
			    top: -18px;
			    z-index: -1;
			}
			
		.box-Register .box-text h1 {
			color: #ffffff;
		    text-shadow: 6px 4px 1px #244580;
            margin-bottom: 25px;
            font-size: 3.5em;
            line-height: 1;
		}
		.box-Register .box-text i.head2 {
			color: #444aa6;
		    text-shadow: 1px 0px 0px #cfd1e5, 0px 1px 0px #cfd1e5, -1px 0px 0px #cfd1e5, 0px -1px 0px #cfd1e5;
	        margin-left: 4px;
            letter-spacing: 2px;
            padding-right: 20px;
		}
		.box-Register .box-text i.head2::after {
		    background-image: url(../../images/box-color4.jpg),url(../../images/box-color1.jpg),url(../../images/box-color2.jpg),url(../../images/box-color5.jpg);
		}
		
	.box-Register .box-text2 {
		padding-top: 45px;
	    padding-right: 36px;
	    background: url(../../images/box-color03.png) no-repeat right 45px;
        background-size: 14px auto;
	}
		.box-Register .box-text2 img.img-logo {
		    width: 200px;
		    margin-left: auto;
		    display: block;
		}
		.box-Register .box-text2 .box-Rtext {
			font-style: italic;
			padding-top: 35px;
			text-align: right;
			font-weight: bold;
		}
			.box-Register .box-text2 .box-Rtext i.Underline {
			    display: block;
			    text-decoration: underline !important;
			    position: relative;
			    font-weight: 100;
			}
			.box-Register .box-text2 .box-Rtext i.Underline::after {
			    content: "";
			    right: 1px;
				height: 25px;
			    bottom: 0px;
			    position: absolute;
			    border-right: 1px solid #fff;
			}
			
section.box-bar {
    padding: 25px 0px;
    background: url(../../images/box-color01.png) no-repeat 95%  30px;
}
	.box-bar ul.nav li {
	    margin: 15px;
	    width: 160px;
	}
		.box-bar ul.nav a.btn {
			width: 100%;
		    background-color: #efefef;
		    color: #4e4e4e;
		    padding: 10px 0px;
		    transition: .5s;
		}	
		.box-bar ul.nav a.btn:hover {
		    background-color: rgb(0 0 0 / 68%);
		    color: #ffffff;
		}	
		.box-bar ul.nav a.btn.active {
		    background-color: #161616;
		    color: #ffffff;
		}	

section.box-content {
    padding: 35px 0px 70px 0px;
    background: url(../../images/box-color01.png) no-repeat 5% calc(100% - 40px);
}
	.box-content .box-support {
	    display: table;
	    margin: auto;
        padding-left: 19px;
	}
		.box-content .box-support img.img-logo {
		    height: 110px;
		    vertical-align: bottom;
		}
		.box-content .box-support img {
		    height: 70px;
		    padding: 15px;
		    object-fit: contain;
		}
		.box-content .box-support img:nth-child(1) ,
		.box-content .box-support img:nth-child(2) ,
		.box-content .box-support img:nth-child(3) {
		    height: 88px;
		}
		
	.box-content .tab-content {
	    padding: 15px;
	}
		.box-content .tab-content .b-head {
		    padding-top: 13px;
		}
		.box-content .tab-content .form-group.box-check {
		    width: calc(100%/5);
		    padding-left: 40px;
		}
		
		.box-content .tab-content .form-group.box-check.box-check-width2 {
		    width: calc(100%/5 * 2);
		}
			.box-content .tab-content .form-group.box-check label {
				padding-left: 7px;
			}
			.box-content .tab-content input[type=radio]+label.form-check-label {
			    font-size: 15px;
			}
			
		.box-content .tab-content .box-Profile {
			position: relative;
		    width: 119px;
		    height: 119px;
			margin: auto;
		}
			.box-content .tab-content img.img-Profile-Picture {
			    display: block;
			    width: 119px;
			    height: 119px;
			    object-fit: cover;
			    border-radius: 50%;
			}
			.box-content .tab-content img.img-Profile-Picture+[type="file"] {
				width: 30px;
			    height: 30px;
			    position: absolute;
			    bottom: 10px;
			    right: -5px;
			    cursor: pointer;
			    border-radius: 50%;
			    opacity: 0;
			}
			.box-content .tab-content .button-Profile {
				background: #35bdc4;
				color: #ffffff;
				line-height: 2;
				text-align: center;
				border: 0px;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				position: absolute;
				bottom: 2px;
				right: 2px;
				cursor: pointer;
			}
			.box-content .tab-content .span-head-color {
				color: #35bdc4;
				margin: 0px 9px;
				font-size: 14px;
			}
			
		.box-content .box-create-Project {
			padding-top: 10px;
		    margin-top: 30px;
		    background: rgb(0 0 0 / 1%);
		    padding: 25px;
		    position: relative;
		    border: 1px solid rgba(0,0,0,.1);
		}
		.box-content input[type="file"].button-file {
		    width: 132px;
		    background: #000;
		}
		.box-content .box-text-right {
		    color: #35bdc4;
		    font-size: 14px;
		    padding: 0px 16px;
		}
		.box-content button.btn.btn-Choosefile {
		    background-color: #161616;
		    color: #ffffff;
		}
		.box-content button.btn.btn-Choosefile+input[type="file"] {
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    opacity: 0;
		}
		.box-content .img-Cover {
		    max-width: 380px;
			width: 100%;
		}
		.box-content button.box-Create-Project {
		    background: #f8f8f8;
		    border: 0;
		    width: calc(100% - 40px);
		    padding: 23px 15px;
		    margin: 10px 20px;
		    transition: .5s;
		}
		.box-content button.box-Create-Project:not([disabled]) {
		    cursor: pointer;
		}
		.box-content button.box-Create-Project:not([disabled]):hover {
		    background: #eaeaea;
		}
		.box-content i.fa.fa-plus-circle {
		    color: #35bdc4;
		    font-size: 35px;
		}
		.box-content button.button-close {
			border: 0px;
		    background: url(../../images/close.svg) no-repeat center;
		    background-size: contain;
		    font-size: 31px;
		    padding: 0px;
		    width: 35px;
		    height: 35px;
		    line-height: 1;
		    color: #f16668;
		    position: absolute;
		    right: 7px;
		    top: 7px;
		    cursor: pointer;
		}
		.box-content .tab-content label i:not(.fa) {
		    color: #ef0b0b;
		    display: inline-block;
		    height: 20px;
		    padding: 0px 3px;
		    vertical-align: middle;
		}
		
	.box-content .box-Submit {
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: row-reverse;
	}
	.box-content .box-Submit button.btn {
	    margin: 15px;
	    width: 160px;
	    padding: 10px 0px;
	}
	.box-content .box-Submit 
	 button.btn[type="button"] {
	    background-color: #161616;
	    color: #ffffff;
	}
	
	.box-ModalFinish {
		
	}
		.box-ModalFinish .modal-body {
		    padding: 0px;
		    border: 3px solid #d1d1d1;
		}
			.box-ModalFinish .modal-body .b-head {
			    text-align: center;
			    font-size: 20px;
			    padding: 22px;
			    background: url(../../images/box-color01.png) no-repeat 97% 30%;
			    background-size: auto 10px;
			}
				.box-ModalFinish .modal-body .b-head .img-correct {
					width: 30px;
					display: block;
					margin: auto;
				    margin-bottom: 15px;
				}
				
			.box-ModalFinish .modal-body .b-text {
			    background: #454aa6;
			    color: #fff;
			    text-align: center;
			    padding: 30px;
			}
				.box-ModalFinish .modal-body .b-text a.btn {
				    font-size: 14px;
				    background: #161616;
				    border: 0px;
				    padding: 10px 40px;
				}
	
    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {
		section.box-content {
		    background-position-y: calc(100% - 15px);
	        padding-top: 0px;
		}
		.box-Register .BG-Register {
		    background-attachment: initial;
		}
		.box-content .box-support img.img-logo {
		    position: absolute;
		    left: 50%;
		    top: 0px;
		    transform: translateX(-50%);
		    height: auto;
		    width: 180px;
		}
		.box-content .box-support {
		    padding-top: 90px;
		    display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    justify-content: center;
		    padding-left: 0px;
		}
		.box-content .box-support img {
		    height: 70px !important;
	    }
    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			.box-Register .BG-Register a.btn1 {
			    margin: 3px auto;
			}
 			.box-content .tab-content .form-group.box-check {
			    width: calc(100%/3);
		        padding-left: 26px;
			}
			.box-content .tab-content .form-group.box-check.box-check-width2 {
			    width: calc(100%/3 * 2);
			}
			.box-content .box-support img.img-logo {
			    height: 80px;
			}
       }
        /* แนวนอน */
        @media only screen and (orientation:landscape){
			.box-content .tab-content .form-group.box-check {
			    width: calc(100%/4);
			}
			.box-content .tab-content .form-group.box-check.box-check-width2 {
			    width: calc(100%/4 * 2);
			}
        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {
		.box-Register .BG-Register a.btn1 {
		    margin: 3px auto;
		}
		section.box-bar {
		    padding-top: 60px;
		}
		.box-content .box-support {
		    padding-top: 90px;
		    display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    justify-content: center;
		    padding-left: 0px;
		}
		.box-content .box-support img.img-logo {
		    position: absolute;
		    left: 50%;
		    top: 0px;
		    transform: translateX(-50%);
	        height: auto;
		    width: 180px;
		}
		.box-content .box-support img {
		    padding: 10px;
		    height: 50px;
		}
		.box-content .box-support img:nth-child(1) ,
		.box-content .box-support img:nth-child(2) ,
		.box-content .box-support img:nth-child(3) {
		    height: 68px;
		}
       /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			.box-bar ul.nav li {
			    margin: 5px 15px;
			    width: calc(100% - 30px);
			}
			.box-content .box-Submit button.btn {
			    width: calc(100%/2 - 30px);
			}
			.border-bottom {
			    padding-bottom: 13px;
			}
 			.box-content .tab-content .form-group.box-check {
			    width: calc(100%/2);
		        padding-left: 26px;
			}
			.box-content .tab-content .form-group.box-check.box-check-width2 {
			    width: calc(100%/2 * 2);
			}
        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){
 			.box-content .tab-content .form-group.box-check {
			    width: calc(100%/3);
		        padding-left: 26px;
			}
			.box-content .tab-content .form-group.box-check.box-check-width2 {
			    width: calc(100%/3 * 2);
			}
        }
    }
